@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #181818;
}

.contenedorTitulos {
  text-align: center;
  margin-bottom: 6.25em;
}

.separador {
  width: 26em;
  height: 4.875em;
}

.subtitulo {
  font-family: "Playfair Display", serif;
  font-weight: 400;
  font-size: 3.125em;
  line-height: 48.5px;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  font-style: italic;
}

.subtitulo-span {
  font-family: "Playfair Display", serif;
  font-weight: 400;
  font-size: 2em;
  line-height: 97px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #F5C568;
  font-style: normal;
}

@media (min-width: 425px) and (max-width: 768px) {
  .separador {
    width: 18.2em;
    height: 3.4125em;
  }

  .subtitulo-span {
    font-size: 1.4em;
  }
}
@media (max-width: 425px) {
  .separador {
    width: 13em;
    height: 2.4375em;
  }

  .subtitulo-span {
    font-size: 1em;
  }
}
/* MOBILE */
@media screen and (max-width: 768px) {
  body .header .header-nav .nav .nav-box .nav-list .nav-item .list-item {
    margin-right: 0rem;
  }
  body .header-background .backgorund-titulo {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 65%;
  }
  body main .separador {
    width: 18.2em;
    height: 3.4125em;
  }
  body main .subtitulo {
    font-size: 2.5em;
  }
  body main .servicios-productos {
    margin-bottom: 75px;
  }
  body main .servicios-productos .productos .productos-box .card {
    margin: 0 auto;
  }
  body main .servicios-productos .productos .productos-box .card .card-body {
    text-align: center;
  }
  body main .contenedorTitulos {
    margin-bottom: 3.25em;
  }
  body main .encargos .card {
    margin: 0 auto;
  }
}
/* DESKTOP */
.header {
  width: 100%;
}
.header .header-nav {
  background-color: #181818;
  box-shadow: 0px 5px 6px rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: center;
  width: 100%;
}
.header .header-nav .nav {
  width: 100%;
}
.header .header-nav .nav .nav-box {
  width: 80%;
}
.header .header-nav .nav .nav-box .nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.19em;
  text-transform: uppercase;
  margin: 0 auto;
}
.header .header-nav .nav .nav-box .nav-list li .list-item {
  color: #FFFFFF;
  font-family: "Playfair Display", serif;
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 1.5rem;
  margin-right: 4rem;
  text-decoration: none;
}
.header .header-nav .nav .nav-box .nav-list li :hover {
  color: #F5C568;
  transition: 0.4s;
}

.nav-logo {
  margin-right: 5em;
  margin-left: 3em;
}

.header-background {
  position: relative;
  width: 100%;
  height: 59.875em;
  background-image: linear-gradient(180deg, #18181800 0%, #181818 92.24%), url("/assets/img/background.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.header-background .background-titulo {
  position: absolute;
  left: 52.22%;
  right: 21.09%;
  top: 40.4%;
  bottom: 87.52%;
  width: 35.625em;
  height: 21.108em;
}

@media (min-width: 769px) and (max-width: 1024px) {
  .header-background .background-titulo {
    position: relative;
    left: 50%;
    width: 21.375em;
    height: 12.6648em;
  }

  .nav-logo {
    margin-right: 0em;
    margin-left: 0em;
  }
}
@media (max-width: 768px) {
  .header-background .background-titulo {
    position: relative;
    left: 40%;
    width: 10.6875em;
    height: 6, 3324em;
  }

  .nav-logo {
    margin-right: 0em;
    margin-left: 0em;
  }

  .header .header-nav .nav .nav-list li .list-item {
    margin-right: 0px;
  }
}
.servicios-productos {
  margin-bottom: 150px;
}

.productos {
  padding-left: 5%;
  padding-right: 5%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}

.producto-titulo {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  color: #FFFFFF;
  font-size: 2rem;
  font-weight: 500;
  line-height: 2.5rem;
  letter-spacing: 0.004rem;
  margin-bottom: 15px;
}

.producto-info {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  color: #FFFFFF;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5rem;
  letter-spacing: 0.06em;
}

.bg-dark {
  --bs-bg-opacity: 0;
}

.card {
  border: 0px;
}

#encargos {
  margin-bottom: 6.25rem;
}

.encargos {
  padding-left: 5%;
  padding-right: 5%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  text-align: center;
}

.encargosHeader {
  font-size: 3.5rem;
  padding-top: 0%;
  padding-bottom: 0%;
}

.encargoTitulo {
  font-family: "Roboto", sans-serif;
  color: #FFFFFF;
  font-size: 2rem;
  font-weight: 500;
  line-height: 2.5rem;
  letter-spacing: 0.004rem;
  margin-bottom: 15px;
}

.encargoInfo {
  font-family: "Roboto", sans-serif;
  color: #FFFFFF;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5rem;
  letter-spacing: 0.06em;
}

.card-header {
  border-bottom: 0px;
}

.bg-dark {
  --bs-bg-opacity: 0;
}

#contactos {
  margin-bottom: 6.25rem;
}

.contenedorDatos {
  display: flex;
}

.mapa {
  width: 50%;
  text-align: right;
}
.mapa iframe {
  width: 80%;
  height: 100%;
}

.datosContacto {
  width: 50%;
  text-align: left;
}
.datosContacto ul {
  list-style-type: none;
}
.datosContacto ul li {
  color: #FFFFFF;
  font-size: 1.7em;
  padding-top: 4%;
}

@media (max-width: 768px) {
  .contenedorDatos {
    flex-direction: column;
    align-items: center;
  }

  .mapa iframe {
    width: 100%;
  }

  .datosContacto {
    width: 80%;
  }
  .datosContacto ul {
    padding-left: 0%;
  }
  .datosContacto ul li {
    font-size: 1.2em;
    text-align: center;
  }
}
#galeria {
  margin-bottom: 6.25rem;
}

.galeria {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-auto-rows: 25em;
  padding: 1.25em;
  grid-gap: 0.625em;
}

.galeria__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.galeria__item:nth-child(1) {
  grid-column-start: span 2;
}

.galeria__item:nth-child(4) {
  grid-column-start: span 2;
}

.galeria__item:nth-child(7) {
  grid-column-start: span 2;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .galeria {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (max-width: 767px) {
  .galeria {
    grid-template-columns: repeat(2, 1fr);
  }
}
.footerRedes {
  width: 100%;
  height: auto;
  display: flex;
}

.footerRedesIzq {
  width: 45%;
  height: auto;
}
.footerRedesIzq img {
  width: 45%;
  margin-right: 10%;
}

.footerRedesDer {
  width: 55%;
  height: auto;
  display: flex;
  align-items: center;
}
.footerRedesDer div ul {
  list-style-type: none;
}
.footerRedesDer div ul li {
  color: #FFFFFF;
  font-size: 1.1em;
}

.footerRedesDer1 {
  width: 40%;
}

.footerRedesDer2 {
  width: 60%;
}

.footerDerechos p {
  text-align: center;
  color: #FFFFFF;
  padding-top: 2%;
  padding-bottom: 2%;
}

.btn-whatsapp {
  display: flex;
  width: 70px;
  height: 70px;
  position: fixed;
  right: 5px;
  bottom: 20px;
  border-radius: 50%;
  line-height: 80px;
  text-align: center;
  z-index: 999;
}
.btn-whatsapp a img {
  width: 55px;
  height: 55px;
}

@media (max-width: 768px) {
  .footerRedes {
    flex-direction: column;
    align-items: center;
  }

  .footerRedesIzq {
    width: 47%;
  }
  .footerRedesIzq img {
    width: 100%;
    align-items: center;
    margin-right: 0%;
  }

  .footerRedesDer {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .footerRedesDer1 {
    width: 100%;
    text-align: center;
  }
  .footerRedesDer1 ul {
    padding-left: 0%;
  }

  .footerRedesDer2 {
    width: 100%;
    text-align: center;
  }
  .footerRedesDer2 ul {
    padding-left: 0%;
  }
}

/*# sourceMappingURL=style.css.map */
