@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: #181818;
}

.separador {
  width: 26em;
  height: 78px;
}

.subtitulo {
  font-family: "Playfair Display", serif;
  font-weight: 400;
  font-size: 50px;
  line-height: 48.5px;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  font-style: italic;
}

.subtitulo-span {
  font-family: "Playfair Display", serif;
  font-weight: 400;
  font-size: 2em;
  line-height: 97px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #F5C568;
  font-style: normal;
}

.contenedorTitulos {
  text-align: center;
  margin-bottom: 6.25em;
}

.header {
  width: 100%;
}

.header .header-nav {
  background-color: #181818;
  -webkit-box-shadow: 0px 5px 6px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 5px 6px rgba(0, 0, 0, 0.25);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 85px;
}

.header .header-nav .nav .nav-list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 0.19em;
  text-transform: uppercase;
}

.header .header-nav .nav .nav-list li .list-item {
  color: #FFFFFF;
  font-family: "Playfair Display", serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  margin-right: 4rem;
  text-decoration: none;
}

.header .header-nav .nav .nav-list li :hover {
  color: #F5C568;
  -webkit-transition: .4s;
  transition: .4s;
}

.nav-logo {
  margin-right: 5em;
  margin-left: 3em;
}

.header-background {
  position: relative;
  width: 100%;
  height: 59.875em;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#18181800), color-stop(92.24%, #181818)), url("../../assets/img/background.png");
  background-image: linear-gradient(180deg, #18181800 0%, #181818 92.24%), url("../../assets/img/background.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.header-background .background-titulo {
  position: absolute;
  left: 52.22%;
  right: 21.09%;
  top: 40.4%;
  bottom: 87.52%;
  width: 35.625em;
  height: 21.108em;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .header-background .background-titulo {
    position: relative;
    left: 50%;
    width: 21.375em;
    height: 12.6648em;
  }
}

@media (max-width: 767px) {
  .header-background .background-titulo {
    position: relative;
    left: 40%;
    width: 10.6875em;
    height: 6,3324em;
  }
}

.servicios-productos {
  margin-bottom: 150px;
}

.productos {
  padding-left: 5%;
  padding-right: 5%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.producto-titulo {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  color: #FFFFFF;
  font-size: 2rem;
  font-weight: 500;
  line-height: 2.5rem;
  letter-spacing: 0.004rem;
  margin-bottom: 15px;
}

.producto-info {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  color: #FFFFFF;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5rem;
  letter-spacing: 0.06em;
}

.bg-dark {
  --bs-bg-opacity: 0;
}

.card {
  border: 0px;
}

#encargos {
  margin-bottom: 6.25rem;
}

.encargos {
  padding-left: 5%;
  padding-right: 5%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-align: center;
}

.encargosHeader {
  font-size: 3.5rem;
  padding-top: 0%;
  padding-bottom: 0%;
}

.encargoTitulo {
  font-family: "Roboto", sans-serif;
  color: #FFFFFF;
  font-size: 2rem;
  font-weight: 500;
  line-height: 2.5rem;
  letter-spacing: 0.004rem;
  margin-bottom: 15px;
}

.encargoInfo {
  font-family: "Roboto", sans-serif;
  color: #FFFFFF;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5rem;
  letter-spacing: 0.06em;
}

.card-header {
  border-bottom: 0px;
}

.bg-dark {
  --bs-bg-opacity: 0;
}

#contactos {
  margin-bottom: 6.25rem;
}

.mapa {
  width: 50%;
  text-align: right;
}

.datosContacto {
  width: 50%;
  text-align: left;
}

.datosContacto ul {
  list-style-type: none;
}

.datosContacto ul li {
  color: #FFFFFF;
  font-size: 2em;
  padding-top: 4%;
}

#galeria {
  margin-bottom: 6.25rem;
}

.galeria {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[6];
      grid-template-columns: repeat(6, 1fr);
  grid-auto-rows: 25em;
  padding: 1.25em;
  grid-gap: 0.625em;
}

.galeria__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.galeria__item:nth-child(1) {
  -ms-grid-column: span 2;
      grid-column-start: span 2;
}

.galeria__item:nth-child(4) {
  -ms-grid-column: span 2;
      grid-column-start: span 2;
}

.galeria__item:nth-child(7) {
  -ms-grid-column: span 2;
      grid-column-start: span 2;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .galeria {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 767px) {
  .galeria {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

.footerRedes {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footerRedesIzq {
  width: 45%;
  height: auto;
}

.footerRedesIzq img {
  width: 40%;
  margin-right: 10%;
}

.footerRedesDer {
  width: 55%;
  height: auto;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footerRedesDer div ul {
  list-style-type: none;
}

.footerRedesDer div ul li {
  color: #FFFFFF;
}

.footerRedesDer1 {
  width: 40%;
}

.footerRedesDer2 {
  width: 60%;
}

.footerDerechos p {
  text-align: center;
  color: #FFFFFF;
  padding-top: 2%;
  padding-bottom: 2%;
}

.btn-whatsapp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 70px;
  height: 70px;
  position: fixed;
  right: 20px;
  bottom: 20px;
  border-radius: 50%;
  line-height: 80px;
  text-align: center;
  z-index: 999;
}
/*# sourceMappingURL=style.css.map */