* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: $negro-claro;
}

// Fuentes
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap');
// font-family: 'Playfair Display', serif;

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
// font-family: 'Roboto', sans-serif;


.contenedorTitulos {
    text-align: center;
    margin-bottom: 6.25em;
}

.separador {
    width: 26em;
    height: 4.875em;
    // text-align: center;
}

.subtitulo {
    font-family: $titulo;
    font-weight: 400;
    font-size: 3.125em;
    line-height: 48.5px;
    letter-spacing: 0.06em;
    color: $blanco;
    font-style: italic;
}

.subtitulo-span {
    font-family: $titulo;
    font-weight: 400;
    font-size: 2em;
    line-height: 97px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: $amarillo;
    font-style: normal;
}

// Reducción al 70%

// @media (min-width:425px) and (max-width:768px) {
    
//     .separador {
//         width: 18.2em;
//         height: 3.4125em;
//     }

//     .subtitulo-span {
//         font-size: 1.4em;
//     }
// }


// Reducción al 50%

// @media (max-width:425px) {

//     .separador {
//         width: 13em;
//         height: 2.4375em;
//     }

//     .subtitulo-span {
//         font-size: 1em;
//     }
// }