* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: $negro-claro;
}

// Fuentes
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap');
// font-family: 'Playfair Display', serif;

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
// font-family: 'Roboto', sans-serif;

.separador {
    width: 416px;
    height: 78px;
    // text-align: center;
}

.subtitulo {
    font-family: $titulo;
    font-weight: 400;
    font-size: 50px;
    line-height: 48.5px;
    letter-spacing: 0.06em;
    color: $blanco;
    font-style: italic;

}

.subtitulo-span {
    font-family: $titulo;
    font-weight: 400;
    font-size: 100px;
    line-height: 97px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: $amarillo;
    font-style: normal;
}

.contenedorTitulos {
    text-align: center;
    margin-bottom: 100px;
}