/* MOBILE */
@media screen and (max-width: 480px) {
  body {
      main {
          .contenedorTitulos {

              margin-bottom: 0rem;

              .separador {
                width: 13em;
                height: 2.4375em;
              }
              .subtitulo {
                  font-size: 2rem;
                  .subtitulo-span {
                    font-size: 1.5em;
                    line-height: 0em;
                  }
              }
          }

          .encargos {
              margin-bottom: 3rem;
          }

          .servicios-productos {
              .productos {
                  .productos-box {
                      .card {
                          .card-body {
                            .producto-titulo {
                                font-size: 1.7rem;
                                margin-bottom: 0.4rem;
                            }
                            .producto-info {
                                font-size: 1rem;
                            }
                          }
                      }
                  }
                  
              }
          }
      }
  }
}

/* TABLET */
@media screen and (max-width: 768px) {
    
    body {
        .header {
            .header-nav {
                .nav {
                    .nav-box {
                        .nav-list {
                            .nav-item {
                                .list-item {
                                    margin-right: 0rem;
                                }
                            }
                        }
                    }
                }
            }
        }
        .header-background {
            .backgorund-titulo {
                // position: relative;
                // left: 45%;
                // width: 30rem;
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 65%;
            }
        }

        main {
            .separador {
                width: 18.2em;
                height: 3.4125em;
            }
            .subtitulo {
                font-size: 1.4em;
            }

            .servicios-productos {

                margin-bottom: 75px;
                .productos {
                    .productos-box {
                        // display: flex;
                        // justify-content: center;
                        // align-items: center;
                        // border: 1px solid red;
                        // text-align: center;
    
                        .card {
                        //    border: 1px solid blue;
                           margin: 0 auto;
                           .card-body {
                               text-align: center;
                           }
                        }
                    }
                }
            }

            .contenedorTitulos {
                margin-bottom: 3.25em;
            }
            .encargos {
                .card {
                    margin: 0 auto;
                }
            }
        }
    }
}


/* DESKTOP */
@media screen and (min-width: 769px) and (max-width:900px) {

   
 }


@media screen and (min-width: 901px) and (max-width:1366px) {

   

}


@media screen and (min-width: 1367px) and (max-width:1680px) {

   
}


@media screen and (min-width: 1681px){

    
}