.encargos {
    padding-left: 5%;
    padding-right: 5%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.encargosHeader {
    font-size: 3.5rem;
}

.encargoTitulo {
    font-family: $parrafo;
    color: $blanco;
    font-size: 2rem;
    font-weight: 500;
    line-height: 2.5rem;
    letter-spacing: 0.004rem;
    margin-bottom: 15px;
}

.encargoInfo {
    font-family: $parrafo;
    color: $blanco;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5rem;
    letter-spacing: 0.06em;
}

.card-header {
    border-bottom: 0px;
}

.bg-dark {
    --bs-bg-opacity: 0;
}