.footerRedes {
    width: 100%;
    height: auto;
    display: flex;
}

.footerRedesIzq {
    width: 45%;
    height: auto;

    img {
        width: 40%;
        margin-right: 10%;
    }
}

.footerRedesDer {
    width: 55%;
    height: auto;
    justify-content: flex-start;
    align-items: center;
    display: flex;

    div ul {
        list-style-type: none;

        li {
            color: $blanco;
        }
    }
}

.footerRedesDer1 {
    width: 40%;
}

.footerRedesDer2 {
    width: 60%;
}



.footerDerechos {
    p {
        text-align: center;
        color: $blanco;
        padding-top: 2%;
        padding-bottom: 2%;
    }

}


.btn-whatsapp {
    display: flex;
    width: 70px;
    height: 70px;
    position: fixed;
    right: 20px;
    bottom: 20px;
    border-radius: 50%;
    line-height: 80px;
    text-align: center;
    z-index: 999;
}