.footerRedes {
    width: 100%;
    height: auto;
    display: flex;
}

.footerRedesIzq {
    width: 45%;
    height: auto;

    img {
        width: 45%;
        margin-right: 10%;
    }
}

.footerRedesDer {
    width: 55%;
    height: auto;
    display: flex;
    align-items: center;

    div ul {
        list-style-type: none;

        li {
            color: $blanco;
            font-size: 1.1em;
        }
    }
}

.footerRedesDer1 {
    width: 40%;
}

.footerRedesDer2 {
    width: 60%;
}

.footerDerechos {
    p {
        text-align: center;
        color: $blanco;
        padding-top: 2%;
        padding-bottom: 2%;
    }

}


.btn-whatsapp {
    display: flex;
    width: 70px;
    height: 70px;
    position: fixed;
    right: 5px;
    bottom: 20px;
    border-radius: 50%;
    line-height: 80px;
    text-align: center;
    z-index: 999;

    a img {
        width: 55px;
        height: 55px;
    }
}

@media (max-width:768px) {
    .footerRedes {
        flex-direction: column;
        align-items: center;
    }

    .footerRedesIzq {
        width: 47%;

        img {
            width: 100%;
            align-items: center;
            margin-right: 0%;
        }
    }

    .footerRedesDer {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .footerRedesDer1 {
        width: 100%;
        text-align: center;

        ul {
            padding-left: 0%;
        }
    }

    .footerRedesDer2 {
        width: 100%;
        text-align: center;

        ul {
            padding-left: 0%;
        }
    }
}