.header {

    width: 100%;

    .header-nav {
        background-color: $negro-claro;
        box-shadow: 0px 5px 6px rgba(0, 0, 0, 0.25);
        display: flex;
        // justify-content: space-around;
        align-items: center;
        width: 100%;
        // height: 85px;

        .nav {

            width: 100%;

            .nav-box {

                width: 80%;

                .nav-list {
    
                    list-style: none;
                    display: flex;
                    align-items: center;
                    text-align: center;
                    letter-spacing: 0.19em;
                    text-transform: uppercase;
                    margin: 0 auto;
                    li {
                        .list-item {
                            color: $blanco;
                            font-family: $titulo;
                            font-size: 1.125rem;
                            font-weight: 700;
                            line-height: 1.5rem;
                            margin-right: 4rem;
                            text-decoration: none;
                        }
    
                        :hover {
                            color: $amarillo;
                            transition: .4s;
                        }
                    }
                }
            }
        }
    }
}

.nav-logo {
    margin-right: 5em;
    margin-left: 3em;
}


//Cover

.header-background {
    position: relative;
    width: 100%;
    height: 59.875em;
    background-image: linear-gradient(180deg, #18181800 0%, $negro-claro 92.24%), url("/assets/img/background.png");
    background-repeat: no-repeat;
    background-size: cover;

    .background-titulo {
        position: absolute;
        left: 52.22%;
        right: 21.09%;
        top: 40.4%;
        bottom: 87.52%;

        width: 35.625em;
        height: 21.108em;
    }
}

@media (min-width:769px) and (max-width:1024px) {
    .header-background {
        .background-titulo {
            position: relative;
            left: 50%;

            width: 21.375em;
            height: 12.6648em;
        }
    }

    .nav-logo {
        margin-right: 0em;
        margin-left: 0em;
    }

    

}

@media (max-width:768px) {
    .header-background {
        .background-titulo {
            position: relative;
            left: 40%;

            width: 10.6875em;
            height: 6, 3324em;
        }
    }

    .nav-logo {
        margin-right: 0em;
        margin-left: 0em;
    }

    .header .header-nav .nav .nav-list li .list-item {
        margin-right: 0px;
    }
}